.fredoka{
  font-family: "Fredoka", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
	margin: 0;
	padding: 0;
	font-family: ;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;
}
.hero{
	width: 100%;
	height: 13vh;
	position: relative;
}
.navbar{
	width: 100%;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 15px;
	font-family: "Fredoka", system-ui;
}
.navbar img{
	width: auto;
	height: 60px;
}
ul{
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	list-style: none;
}
ul li{
	display: inline-block;
	list-style: none;
	margin: 0 25px;
	position: relative;
}
ul li a{
	text-decoration: none;
	color: #39453b;
	padding: 0 10px;
	font-weight: 300;
	position: relative;
}
ul li a::after{
	content: '';
	width: 0;
	height: 3.2px;
	background: #849c8a;
	position: absolute;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%);
	transition: width 0.3s ease-in-out;
}
ul li a:hover::after{
	width: 100%;
}
.navbar-icons img{
	height: 25px;
	margin-left: 30px;
	cursor: pointer;
	margin-right: 20px;
}
.create{
	text-align: left;
  font-weight: 400;
  font-style: normal;
  width: 700px;
  padding: 40px;
  margin: 40px auto;
  border-radius: 6px;
  font-size: 21px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create label{
	font-weight: 400;
	color: #39453b;
	font-family: "Fredoka", system-ui;
}
.create input{
	font-weight: 300;
	color: #6d756e;
	padding: 4px 6px;
	border: 1px solid #3f4d40;
	border-radius: 4px;
	cursor: pointer;
	font-size: 15px;
	box-sizing: border-box;
	font-family: "Fredoka", system-ui;
}
.create label, .create input{
	width: 100%;
}
.create .date-inputs {
    display: flex;
    justify-content: space-between;
}
#submit{
	padding: 7px 30px;
	outline: none;
	border: 1px solid #2a362b;
	border-radius: 15px;
	cursor: pointer;
	color: #546e5a;
	background-color: #dae0da;
	font-weight: 300;
	font-size: 18px;
	align-self: center;
	font-family: "Fredoka", system-ui;
}
#c1{
	background-color: #718572;
	text-align: center;
	border-radius: 6px;
	font-size: 18px;
}
















